.container {
  border-radius: var(--ant-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  max-height: 100%;

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  .uploadingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    overflow: auto;

    :global {
      .ant-upload-list-text {
        max-width: 70%;
        direction: ltr;
      }

      .ant-upload-drag {
        background-color: white;
        border: 2px dashed var(--ant-color-border);
        padding-inline: 2rem;
        padding-block: 2rem;
        max-width: fit-content;
      }

      .ant-upload-list {
        overflow: auto;
      }
    }

    .uploadBtn {
      background-color: black;
      color: white;
      width: 100%;
    }

    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
