$footer-height: 2rem;
$header-height: 3rem;

.container {
  height: 100%;
  width: 100%;

  & > header {
    height: $header-height;
  }

  & > main {
    margin-inline: auto;
    min-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100% - #{$footer-height} - #{$header-height});
    padding-block: 1rem;
    justify-content: center;
  }

  & > footer {
    margin-top: auto;
    height: 2rem;
    width: 100%;
  }
}
